body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 14px;
        display: flex;
        flex-direction: column;

}
table.table{
    background-color: rgb(213, 215, 162);
    border: #000000;
    font-family: cursive;
}

/* otra 1 */
 .tableo{
        text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(145, 216, 247);
}
.tablew{
    text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(145, 216, 247);
}
.tablea{
    text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(145, 216, 247);
}

/* otra 2*/

.tablab{
    text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(246, 217, 174);

}
.tablec{
    text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(246, 217, 174);
}
.tabled{
    text-align: justify;
        width: 100%;
        height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(246, 217, 174);
}
/* otra 3 */
.tablae{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(239, 210, 198);
}
.tablaf{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(239, 210, 198);
}
.tablag{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(239, 210, 198);
}

/* otras 4 */
.tablah{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(235, 240, 204);
        
}
.tablaj{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(235, 240, 204);
}
.tablak{
    text-align: justify;
        width: 100%;
        height: 40px;
        background-color: rgb(235, 240, 204);
}
